.productCon{
    display: flex;
    border-bottom: 2px solid rgb(25, 110, 89);
    margin-bottom: 8px;

}
.imageField {
    min-width: 25%;
    max-width: 25%;
    /* border: 5px solid red ; */
    
    
}
.imageField img {
    max-width: 100%;  
    max-width: 100%;  
}
.detailsField {
    border: 5px rgb(197, 99, 13);
    margin-left: 12px ;
    /* border:2px solid red; */
    width: 100%;
    
}
.detailsField h5{
    margin-block-start: 0em;
}
.des{
    display: flex;
}
.left{
    width: 50%;
}
.featureLists{
    font-size: 10px;
}
.listCont{
    padding-left: 3em;
    padding-top: 1rem;
}
.ftitle{
    font-weight: bold;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    width: 30%;
}

.productButton {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    width: 200px;
    height: 26px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: middle;
}


.buttonClass {
    padding-left: 10px;
    padding-bottom: 5px;
    
}




.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color: #f0c14b !important;
    color: rgb(17, 14, 14) !important;


}
.css-i4bv87-MuiSvgIcon-root {
   
    font-size: 1rem !important;
}