.Header img{
    width: 200px;
    height:100px;
}
.Header{
    text-align: center;
}
.Header nav{
    background-color: black;
    padding: 2%;
    text-align: left;
    padding-left: 10%;
    
}
.Header nav a{
    text-decoration: none;
    padding-right: 5%;
    color:aliceblue;    
}